<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <bean id="twitterFactory" class="twitter4j.TwitterFactory"/>

    <bean id="asyncTwitterFactory" class="twitter4j.AsyncTwitterFactory"/>

    <bean id="twitterStreamFactory" class="twitter4j.TwitterStreamFactory"/>
    <bean id="twitter" class="twitter4j.Twitter"
          factory-bean="twitterFactory" factory-method="getInstance"
          depends-on="twitterFactory">
    </bean>
    <bean id="asyncTwitter" class="twitter4j.AsyncTwitter"
          factory-bean="asyncTwitterFactory" factory-method="getInstance"
          depends-on="asyncTwitterFactory">
    </bean>
    <bean id="twitterStream" class="twitter4j.TwitterStream"
          factory-bean="twitterStreamFactory" factory-method="getInstance">
    </bean>

</beans>
